.ui-dialog.linkit-wrapper {
  width: 75% !important;
  width: 75vw !important;
  max-height: 75% !important;
  max-height: 75vh !important;
  overflow-y: scroll !important;
}

#linkit-modal fieldset.form-wrapper,
#linkit-modal .linkit-search-element,
#linkit-modal .linkit-path-element {
  width: 100% !important;
}

.linkit-tweaks-view-container .views-field-linkit-picker {
  display: none;
}