#linkit-picker-container .view-linkit-picker-linkit_picker_node {  
  height: 0;
  visibility: hidden;
}

#linkit-picker-container .show.view-linkit-picker-linkit_picker_node {  
  height: auto;
  visibility: visible;
}